fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

sqlalchemy
psycopg2-binary
alembic

docling
pandas
openpyxl

sentence-transformers
qdrant-client

python-dotenv
pytest
httpx

ruff
black